a {
  text-decoration: underline;
}

.main {
  background-color: #242424;
  font-family: ff-tisa-web-pro, sans-serif;
  font-weight: 400;
}

.intro {
  padding: 70px 52px 52px;
  font-family: Lato, sans-serif;
  color: #1782ff;
  font-size: 47px;
  line-height: 54px;
  font-weight: 300;
  text-align: center;
}

.intro.grey {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family: ff-tisa-sans-web-pro, sans-serif;
  color: #949494;
  font-size: 46px;
  line-height: 68px;
  font-weight: 400;
}

.brand {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 100px 68px 24px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.outro {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: #ddd;
  text-align: center;
}

.footer {
  margin: 0px;
  padding: 64px;
  border: 1px dotted #9e9c9c;
  color: #7a7a7a;
}

.footer.content {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 41px;
  border-style: none;
}

.outro-a {
  color: #fff;
}

.link.footer-link {
  color: #5e5c5c;
}

.med-blue {
  color: #00c2ff;
  font-size: 38px;
}

.neon {
  color: #007aff;
}

.teal {
  color: #00d1d5;
}

.grey {
  color: #aaa;
}

.pink {
  color: #ff5383;
}

.white {
  color: #fff;
}

.white.middle {
  margin-top: 50px;
}

.middle {
  margin-top: 0px;
  padding: 24px 88px 0px;
  color: #817e7e;
  font-size: 30px;
  line-height: 44px;
  font-weight: 300;
  text-align: center;
}

.media {
  display: block;
  max-width: 80%;
  margin-top: 26px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.sketch {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.sketch-img {
  max-width: 70%;
  margin-top: 48px;
}

.brand-name {
  display: block;
  margin-top: 16px;
  font-family: ff-tisa-sans-web-pro, sans-serif;
  color: #747474;
}

.archive-content {
  font-family: ff-tisa-web-pro, sans-serif;
  font-size: 26px;
  line-height: 36px;
  font-weight: 400;
}

.article-heading {
  margin-bottom: 24px;
  font-family: ff-tisa-sans-web-pro, sans-serif;
  font-size: 54px;
}

.article-container {
  padding: 55px 132px 132px;
  font-size: 17px;
  font-weight: 300;
}

.brand-global {
  padding-top: 62px;
  padding-bottom: 62px;
  background-color: #333;
  text-align: center;
}

.byline {
  margin-bottom: 33px;
  padding-bottom: 1px;
  font-family: ff-tisa-sans-web-pro, sans-serif;
  color: #a3a1a1;
  font-size: 19px;
  font-weight: 400;
}

.article-blockquote {
  margin-top: 52px;
  border-color: #5461f7;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #005cff;
  font-size: 26px;
  line-height: 36px;
  font-style: italic;
}

.recognition {
  font-family: ff-tisa-web-pro, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

.spatialkey-img {
  display: block;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: none;
  text-align: left;
}

.cs1 {
  display: block;
  border-style: none;
  text-align: center;
}

.case-studies-row {
  display: block;
  max-width: auto;
  margin-top: 37px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.case-studies {
  display: block;
  text-align: center;
}

.cs2 {
  position: static;
  text-align: center;
}

.cs-link {
  display: block;
  max-width: 100%;
  float: right;
  text-align: center;
  text-decoration: none;
}

.more-row {
  margin-top: 40px;
}

.defenders-link {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-bottom: 16px;
  color: #bd842f;
  text-align: center;
  text-decoration: none;
}

.more-link {
  float: right;
  text-decoration: none;
}

.medium-img {
  max-width: 85%;
  margin-top: 1px;
  margin-bottom: 51px;
}

.medium-link {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-bottom: 11px;
  color: #24b924;
  text-align: center;
  text-decoration: none;
}

.user-defenders-image {
  max-width: 85%;
  text-align: left;
}

.footer-link {
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #23c1c4;
  color: #fff;
  text-decoration: none;
}

.footer-section {
  margin-top: 45px;
  border-style: none;
  border-top-width: 1px;
  border-top-color: #494949;
  background-color: #2e2e2e;
}

.footer-content {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 300;
}

.footer-content.left {
  float: left;
  font-family: ff-tisa-web-pro, sans-serif;
  font-weight: 400;
}

.footer-content.right {
  float: right;
  font-family: ff-tisa-web-pro, sans-serif;
  font-weight: 400;
}

.ocean {
  color: #20b8ff;
}

.finch-logo {
  max-width: 90%;
}

.more-section {
  margin-bottom: 62px;
}

.more-link-right {
  float: left;
}

.cs-link-right {
  float: left;
}

.rise-img {
  max-width: 80%;
}

.highlight {
  color: #bbb;
}

.goodbye {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../images/giphy.gif);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  text-align: center;
}

.archive {
  font-family: ff-tisa-web-pro, sans-serif;
  font-weight: 400;
}

.archive-heading {
  margin-bottom: 23px;
}

.archive-link {
  margin-bottom: 11px;
  border-bottom: 1px solid #23c1c4;
  color: grey;
  text-decoration: none;
}

@media (max-width: 991px) {
  .goodbye {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

@media (max-width: 767px) {
  .intro.grey {
    padding-top: 63px;
    padding-bottom: 40px;
    font-size: 31px;
    line-height: 48px;
  }
  .middle {
    line-height: 38px;
  }
  .article-container {
    padding-left: 110px;
  }
  .recognition {
    font-size: 24px;
    line-height: 26px;
  }
  .cs1 {
    position: static;
  }
  .cs-link {
    margin-bottom: 28px;
    float: none;
  }
  .more-link {
    float: none;
  }
  .user-defenders-image {
    text-align: center;
  }
  .footer-content.left {
    margin-bottom: 7px;
    float: none;
    font-size: 15px;
  }
  .footer-content.right {
    float: none;
    clear: none;
    font-size: 15px;
  }
  .more-section {
    margin-bottom: 78px;
  }
  .more-link-right {
    float: none;
  }
  .cs-link-right {
    margin-bottom: 0px;
    float: none;
  }
  .rise-img {
    max-width: 100%;
  }
  .read-more {
    margin-top: 20px;
  }
}

@media (max-width: 479px) {
  .intro.grey {
    margin-bottom: 0px;
    padding: 17px 10px 30px;
    font-size: 24px;
    line-height: 40px;
  }
  .brand {
    margin-bottom: 14px;
    padding-top: 45px;
  }
  .footer.content {
    padding: 26px 14px 32px;
  }
  .med-blue {
    font-size: 22px;
  }
  .white.middle {
    margin-top: 26px;
  }
  .middle {
    padding-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 22px;
  }
  .media {
    max-width: 90%;
    margin-top: 14px;
  }
  .article-heading {
    font-size: 42px;
  }
  .article-container {
    padding-top: 23px;
    padding-right: 12px;
    padding-left: 21px;
  }
  .byline {
    font-size: 16px;
  }
  .recognition {
    font-size: 18px;
    line-height: 20px;
  }
  .spatialkey-img {
    max-width: 60%;
  }
  .cs1 {
    padding-top: 0px;
  }
  .case-studies {
    margin-bottom: 0px;
  }
  .cs-link {
    margin-bottom: 36px;
  }
  .more-row {
    margin-top: 19px;
  }
  .medium-img {
    margin-bottom: 23px;
  }
  .user-defenders-image {
    max-width: 65%;
  }
  .finch-logo {
    max-width: 80%;
  }
  .more-section {
    margin-bottom: 50px;
  }
  .intro-section {
    margin-bottom: 40px;
  }
  .recognition-section {
    margin-bottom: 50px;
    padding-bottom: 0px;
  }
  .case-studies-section {
    margin-bottom: 45px;
  }
  .cs-link-right {
    margin-bottom: 0px;
  }
  .rise-img {
    max-width: 80%;
  }
  .read-more {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .goodbye {
    background-image: url(../images/giphy.gif);
    background-position: 68% 50%;
    background-size: cover;
  }
}
